{% extends "base.html.twig" %}
{% block body %}
    <label class="form-label" for="url">Paste link to your song</label>
    <div class="d-flex justify-content-center align-items-center form-control mb-4">
        <input name="url" id="url" placeholder="e.x. https://www.youtube.com/watch?v=Y..." class="border-0 w-100 form-control shadow-none me-3" type="url" required>
        <button class="btn btn-primary" id="search-btn">Search</button>
    </div>
    <div id="download-container" class="visually-hidden mb-4">
        <label for="video-title">Name the track</label>
        <div class="d-flex justify-content-center align-items-center form-control">
            <input name="video-title" id="video-title" placeholder="My favorite video" class="border-0 w-100 form-control shadow-none me-3" type="url" required>
            <button class="btn btn-primary" id="download-btn">Download</button>
        </div>
        <div id="artists" class="form-control my-3 p-3 d-flex flex-row overflow-x-scroll align-items-center">
            <button class="btn btn-primary me-2" style="width: fit-content; white-space: nowrap" id="add-artist-btn">Add Artist</button>
        </div>
    </div>
    <strong class="mt-3">Recently Saved...</strong>
    <div>
        {% for track in tracks %}
            {% include 'track/_track.html.twig' with {"track": track} %}
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function addSelector(data = []) {
            let selector = $('<select class="artist-select"></select>');
            $("#artists").append(selector);
            let deleteBtn = $('<a class="text-light me-3"><i class="bi bi-trash"></i></a>')
            deleteBtn.click(e => {
                selector.select2('destroy');
                selector.remove();
                deleteBtn.remove();
            });
            $("#artists").append(deleteBtn);
            selector.select2({
                data: data,
                ajax: {
                    url: "{{ path("app_dropdown_artists") }}",
                    dataType: "json",
                }
            });
        }

        $("document").ready(() => {
            $("#add-artist-btn").on("click", (e) => {
                addSelector();
            });

            $("#search-btn").on("click", () => {

                let url = "{{ path("app_search") }}";
                fetch(url, {
                    body: JSON.stringify({
                        "url": $("#url").val(),
                    }),
                    method: "POST"
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data["status"] === "success") {
                            $("#download-container").removeClass("visually-hidden");
                            $("#video-title").val(data["data"]["title"]);

                            $("#download-btn")[0].addEventListener("click", () => {
                                let artists = $(".artist-select").toArray().reduce((result, artist) => {
                                    if (artist.value) result.push(artist.value);
                                    return result;
                                }, []);
                                let url = "{{ path("app_download") }}";
                                fetch(url, {
                                    body: JSON.stringify({
                                        "url": $("#url").val(),
                                        "title": $("#video-title").val(),
                                        "artists": artists,
                                    }),
                                    method: "POST"
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        window.location.reload();
                                    })

                            });
                        } else {
                            alert(data["message"]);
                        }
                    });
            });
        });
    </script>
{% endblock %}