{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path("app_artist_new") }}" class="btn btn-primary">Add Artist</a>
    <table class="table">
        <tr>
            <th>
                Artist
            </th>
            <th>
                Number of Tracks
            </th>
        </tr>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td><a href="{{ path("app_artist_edit", {"id": artist.id}) }}">{{ artist.name }}</a></td>
                <td>{{ artist.getTracks|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
